<section class="mt-5">
    <!-- Footer -->
    <footer class="bg-secondary text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text">Learn</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Library</a>
              </li>
              <li>
                <a href="#!" class="text-white">Featured</a>
              </li>
              <li>
                <a href="#!" class="text-white">Explore</a>
              </li>
              <li>
                <a href="#!" class="text-white">Learning Paths</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text mb-0">Join Us</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Pricing</a>
              </li>
              <li>
                <a href="#!" class="text-white">Login</a>
              </li>
              <li>
                <a href="#!" class="text-white">Sign Up</a>
              </li>
              <li>
                <a href="#!" class="text-white">Payment</a>
              </li>
            </ul>
          </div>

            <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text mb-0">Community</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Discussions</a>
              </li>
              <li>
                <a href="#!" class="text-white">Ask Questions</a>
              </li>
              <li>
                <a href="#!" class="text-white">Student Profile</a>
              </li>
              <li>
                <a href="#!" class="text-white">Instructor Profile</a>
              </li>
            </ul>
          </div>
        <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-end">Tutorio</h5>
  
            <p class="text-end">
              Tutorio is an online platform that helps anyone achieve their personal and professional goals
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <hr>
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: Social media -->
        <div class="row">
          <section class="mb-4">
              <h5 class="container m-1">Follow us on </h5>
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-github"></i
            ></a>
  
          <div class="col-md-">
            <div class="row">
                <div class="col-6"></div>
                 <div class="col-6 text-end" >
                    Copyright 2023 © All rights reserved
                </div>
            </div>
          </div>
          </section>
        </div>
 
        
        <!-- Section: Social media -->
      </div>
  
      <!-- Copyright -->
      <div class="text p-3" style="background-color: black;">
    <ul class="foot" >
      <li>Catalog <i class="fa-solid fa-caret-up"></i></li> &nbsp;
      <li>Student <i class="fa-solid fa-caret-up"></i></li> &nbsp;
      <li>Instructor <i class="fa-solid fa-caret-up"></i></li> &nbsp;
      <li>Community <i class="fa-solid fa-caret-up"></i></li> &nbsp;
      <li>Account <i class="fa-solid fa-caret-up"></i></li> &nbsp;
      <li>Components <i class="fa-solid fa-caret-up"></i></li>
    </ul>      
</div>


      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>